<ion-view title="Add a person">
  <ion-header-bar class="bar-stable">
    <a class="button" ui-sref="app.person_list">Back</a>
    <h1 class="title">Add a person</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">

      <label class="item item-input">
        <input type="text" placeholder="First name" ng-model="person.name.first">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Last name" ng-model="person.name.last">
      </label>

      <button class="button button-balanced button-right" ng-click="addPerson(person)" ng-disabled="!person.name.first && !person.name.last">Add</button>

    </div>
  </ion-content>
</ion-view>
